/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

* {
    margin: 1em 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

html,
body,
div,
a,
br {
    margin: 0;
}

body {
    font: 13pt/19pt "Source Sans Pro", sans-serif;
    font-weight: 400;
}

code,
pre {
    font-family: "Ubuntu Mono", monospace;
}

h1,
h2 {
    font-weight: 600;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

a {
    text-decoration: none;
}

a.heading-link {
    opacity: 0;
    font-weight: 300;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

a.heading-link:hover {
    opacity: 1;
}

ol,
ul,
dd {
    padding-left: 1.2em;
}

li,
dt,
dd {
    margin: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

li > ul,
li > ol,
dd > dl {
    margin-top: 0;
    margin-bottom: 0;
}

li > p:last-child,
dd > p:last-child {
    margin-bottom: 1em;
}

form input,
form button {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #ccc;
    margin-bottom: 0;
}

form input {
    width: 16em;
}

form button {
    background-color: #eee;
    padding: 0 0.4em;
    font-weight: 300;
}

table {
    border-collapse: collapse;
}

td,
th {
    border-bottom: 1px solid #ddd;
    padding: 0.3em 0.5em 0.3em 0;
    vertical-align: top;
    text-align: left;
}

td em,
th {
    font-weight: 300;
    font-style: normal;
}

hr {
    border-bottom: 1px solid #ddd;
}

code,
pre {
    background-color: #eee;
}

pre {
    overflow: auto;
    padding: 1em;
}

blockquote {
    margin-left: 2em;
}

/* -------------------------------------------- */

:root {
  --bg-color-1: rgba(255, 255, 255, 1.0);
  --bg-color-2: rgba(239, 239, 239, 1.0);
  --bg-color-3: rgba(0, 117, 199, 1.0);
  --fg-color-2: rgba(0, 0, 0, 1.0);
  --fg-color-2: rgba(0, 0, 0, 1.0);
  --fg-color-2: rgba(0, 0, 0, 1.0);
  --fg-color-3: rgba(255, 255, 255, 1.0);
  --accent-color-1: rgba(240, 231, 51, 1.0);
  --accent-color-2: rgba(63, 191, 127, 1.0);
  --accent-color-3: rgba(240, 231, 51, 1.0);
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

body {
    color: var(--fg-color-1);
    background-color: var(--bg-color-3);
}

header,
footer,
section {
    margin: 0;
}

header > div,
footer > div,
section > div {
    width: 960px;
    margin: 0 auto;
    padding: 2em 1em;
}

header > div {
    padding: 1em;
}

header {
    color: var(--fg-color-2);
    background-color: var(--bg-color-2);
}

section,
footer {
    color: var(--fg-color-3);
    background-color: var(--bg-color-3);
}

.columns {
    display: flex;
}

.columns > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-right: 1em;
}

.columns > div:last-child {
    margin-right: 0;
}

nav.links > a {
    display: inline-block;
    margin-right: 1em;
}

nav.links > a::before,
a.nav::before {
    content: "\2BC8  ";
}

a:not([href]),
a[href=""] {
    color: var(--accent-color-1);
}

img.inline-icon {
    height: 1.2em;
    position: relative;
    top: 0.25em;
}

.nameplate {
    font-family: "Alegreya Sans";
    font-weight: 800;
}

h1.selected,
h2.selected,
h3.selected,
h4.selected,
h5.selected,
h6.selected {
    color: var(--fg-color-2);
}

ul.bullets {
    font-size: 0.9em;
}

header a, footer a {
    color: inherit;
}

#-top-left-nav {
    margin: 0;
    flex-grow: 1;
}

#-top-left-nav > a {
    margin-right: 2em;
}

#-top-right-nav {
    margin: 0;
    flex-grow: 1;
    text-align: right;
}

li > *:last-child {
    margin-bottom: 1em;
}

header.active {
    background-color: #fff;
}
