[submodule "modules/commandant"]
	path = modules/commandant
	url = https://github.com/ssorj/commandant.git
[submodule "modules/plano"]
	path = modules/plano
	url = https://github.com/ssorj/plano.git
[submodule "modules/transom"]
	path = modules/transom
	url = https://github.com/ssorj/transom.git
