h2 {
    font-size: 15pt;
    margin-bottom: 0.8em;
}

nav.inline-links > a > span {
    color: hsla(203, 30%, 50%, 1.0);
}

.example {
    margin-bottom: 2em;
}

.example:last-child {
    margin-bottom: 0;
}
