/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

body {
    color: var(--fg-color-1);
    background-color: var(--bg-color-3);
}

header {
    border-bottom: 0.2em solid transparent;
}

header.active {
    border-bottom: 0.2em solid hsla(203, 30%, 94%, 1.0);
}

#-top-left-nav > a:hover {
    color: var(--bg-color-3);
    border-bottom: 0.2em solid hsla(203, 30%, 94%, 1.0);
}

#-top-left-nav > a#-logotype:hover {
    color: var(--fg-color-1);
    border-bottom: 0.2em solid transparent;
}

footer {
    color: var(--fg-color-3);
    background-color: var(--bg-color-3);
}

div.body {
    background-color: var(--bg-color-1);
    color: var(--fg-color-1);
}

div.body a {
    color: var(--link-color);
    font-weight: 600;
}

div.body:first-of-type {
    padding-top: 4.5em;
}

#-intro {
    color: var(--fg-color-2);
    background: linear-gradient(var(--bg-color-1), var(--bg-color-2));
}

#-intro > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#-graphic-and-summary {
    display: flex;
    align-items: center;
}

#-graphic-and-summary > div:nth-child(1) {
    margin-right: 2em;
}

#-graphic-and-summary > div:nth-child(1) > svg {
    margin: 0;
}

#-graphic-and-summary > div:nth-child(2) {
    max-width: 28em;
    margin-right: 4em;
}

#-graphic-and-summary > div:nth-child(2) > h1 {
    font-size: 2.4em;
    line-height: 1.2em;
}

#-graphic-and-summary > div:nth-child(2) > p {
    font: var(--heading-font);
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.6em;
}

#-graphic-and-summary > div:nth-child(3) {
    max-width: 12em;
    color: var(--bg-color-3);
}

#-graphic-and-summary > div:nth-child(3) > p {
    margin-bottom: 1.4em;
}

#-graphic-and-summary > div:nth-child(3) > p:last-of-type {
    margin-bottom: 0;
}

#-features {
    display: flex;
    margin: 2em 0;
    color: var(--fg-color-2);
}

#-features > div {
    flex: 1 1 0;
    margin: 0 2em 0 0;
    padding: 1.4em 1.8em;
    border: 0.2em solid hsla(203, 30%, 88%, 1.0);
    background-color: var(--bg-color-1);
    text-align: left;
    font-weight: 300;
    border-radius: 0.6em;
}

#-features > div:last-child {
    margin: 0;
}

#-features > div > div {
    min-height: 13em;
    margin-bottom: 1em;
}

#-videos {
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;
    color: var(--fg-color-2);
}

#-videos > div {
    flex: 1 1 0;
    margin-right: 3em;
}

#-videos > div:last-child {
    margin-right: 0;
}

#-videos > div > iframe {
    width: 20em;
    height: 12em;
    border-radius: 0.6em;
}

div.body a.button {
    font-weight: 700;
    display: inline-block;
    padding: 0.5em 1em;
    color: white;
    background-color: var(--accent-color-2);
    border-radius: 0.2em;
    cursor: pointer;
}

div.body a.button > i.material-icons {
    vertical-align: -0.24em;
    margin-left: -0.1em;
    margin-right: 0.2em;
}

a.nav {
    font-weight: 700;
    color: var(--bg-color-3);
}

a.nav > i.material-icons {
    vertical-align: -0.25em;
    margin-left: -0.2em;
}

/* .video > div { */
/*     display: flex; */
/*     width: 100%; */
/*     padding-top: 3em; */
/* } */

/* .video:last-of-type > div { */
/*     padding-bottom: 3em; */
/* } */

/* .video > div > * { */
/*     margin-top: 0; */
/*     width: 50%; */
/* } */

/* .video > div > iframe { */
/*     margin: 0 2em 0 0; */
/* } */

#-wave-1 {
    display: block;
    margin: 0;
    width: 100%;
}

#-wave-1 {
    background-color: white;
}

#-wave-1 > path {
    fill: var(--bg-color-2);
}

#-popup-video {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    /* pointer-events: none; */
}

#-popup-video > div {
    margin: 2em;
    padding: 2em;
    background-color: white;
    /* pointer-events: all; */
}

@media screen and (max-width: 800px) {
    div.body:first-of-type {
        padding-top: 2em;
    }

    #-graphic-and-summary {
        display: block;
    }

    #-graphic-and-summary > div:first-of-type {
        margin-right: 0;
    }

    #-graphic-and-summary > div:first-of-type > svg {
        margin: 0 auto;
        height: 300px;
    }

    #-graphic-and-summary > div:last-of-type > h1 {
        margin-top: 0.8em;
    }

    #-features {
        display: block;
    }

    #-features > div {
        margin: 0 1em 2em 1em;
    }

    #-features > div:last-child {
        margin: 0 1em;
    }

    #-features > div > div {
        min-height: inherit;
        margin-bottom: 1em;
    }

    .video > div {
        display: block;
        width: auto;
        padding: 1em 2em;
    }

    .video > div > * {
        width: 100%;
    }

    .video > div > iframe {
        margin: 1em 0;
    }
}
