/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

body {
    color: var(--fg-color-1);
    background-color: var(--bg-color-3);
}

header {
    border-bottom: 0.2em solid transparent;
}

header.active {
    border-bottom: 0.2em solid hsla(203, 30%, 94%, 1.0);
}

#-top-left-nav > a:hover {
    color: var(--bg-color-3);
    border-bottom: 0.2em solid hsla(203, 30%, 94%, 1.0);
}

#-top-left-nav > a#-logotype:hover {
    color: var(--fg-color-1);
    border-bottom: 0.2em solid transparent;
}

section,
footer {
    color: var(--fg-color-3);
    background-color: var(--bg-color-3);
}

#-intro {
    color: var(--fg-color-2);
    background: linear-gradient(var(--bg-color-1), var(--bg-color-2));
}

#-intro > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#-banner {
    font-family: "Alegreya Sans";
    font-weight: 800;
    font-size: 2em;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 0.6em;
}

#-globe {
    margin: 0;
    height: 400;
}

#-subtitle {
    font-size: 1.6em;
    margin-bottom: 0.4em;
}

#-summary-1 {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6em;
    max-width: 34em;
    text-align: center;
    margin-bottom: 0.4em;
}

#-summary-2 {
    margin-top: 0.4em;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6em;
    max-width: 30em;
    text-align: center;
}

#-features {
    display: flex;
    font-size: 0.95em;
    margin: 1.4em 0 1em 0;
    max-width: 50em;
    color: var(--fg-color-2);
}

#-features h3 {
    font-weight: 700;
}

#-features > div {
    flex: 1 1 0;
    margin: 0 2em 0 0;
    padding: 1.4em 1.8em;
    border: 0.2em solid hsla(203, 30%, 88%, 1.0);
    background-color: var(--bg-color-1);
    text-align: left;
    font-weight: 300;
    border-radius: 0.6em;
}

#-features > div:last-child {
    margin: 0;
}

#-features > div > div {
    min-height: 14.5em;
}

a.nav {
    font-weight: 700;
    display: inline-block;
    padding: 0.5em 1em 0.4em 1em;
    color: white;
    background-color: var(--accent-color-2);
    border-radius: 0.2em;
}

a.nav > img {
    height: 0.6em;
    margin-left: 0.4em;
}

.video {
    background-color: var(--bg-color-1);
    color: var(--fg-color-1);
}

.video a {
    color: var(--link-color);
    font-weight: 600;
}

.video > div {
    display: flex;
    width: 100%;
    padding-top: 3em;
}

.video:last-of-type > div {
    padding-bottom: 3em;
}

.video > div > * {
    margin-top: 0;
    width: 50%;
}

.video > div > iframe {
    margin: 0 2em 0 0;
}

#-wave-1 {
    display: block;
    margin: 0;
    width: 100%;
}

#-wave-1 {
    background-color: white;
}

#-wave-1 > path {
    fill: var(--bg-color-2);
}

@media screen and (max-width: 800px) {
    #-globe {
        height: 300px;
    }

    #-features {
        display: block;
    }

    #-features > div {
        margin: 0 1em 2em 1em;
    }

    #-features > div:last-child {
        margin: 0 1em;
    }

    #-features > div > div {
        min-height: inherit;
        margin-bottom: 1em;
    }

    .video > div {
        display: block;
        width: auto;
        padding: 1em 2em;
    }

    .video > div > * {
        width: 100%;
    }

    .video > div > iframe {
        margin: 1em 0;
    }
}
