/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

body {
    color: var(--fg-color-1);
    background-color: var(--bg-color-3);
}

header {
    background-color: transparent;
}

body.scrolled header {
    background-color: var(--bg-color-1);
}

#-site-nav {
    border-bottom: 0.2em solid transparent;
}

body.scrolled #-site-nav {
    border-bottom: 0.2em solid hsla(203, 30%, 94%, 1.0);
}

#-left-site-nav > a:not(#-logotype):hover {
    color: var(--bg-color-3);
    border-bottom: 0.2em solid hsla(203, 30%, 88%, 1.0);
}

footer {
    color: var(--fg-color-3);
    background-color: var(--bg-color-3);
}

section {
    background-color: var(--bg-color-1);
    color: var(--fg-color-1);
}

section a {
    color: var(--link-color);
    font-weight: 600;
}

section:first-of-type > div {
    padding-top: 5.5em;
}

#-intro {
    color: var(--fg-color-2);
    background: linear-gradient(var(--bg-color-1), var(--bg-color-2));
}

#-intro > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#-graphic-and-summary {
    display: flex;
    align-items: center;
}

#-graphic-and-summary > *:nth-child(1) {
    margin: 0 2em 0 0;
}

#-graphic-and-summary > *:nth-child(2) {
    max-width: 28em;
    margin-right: 4em;
}

#-graphic-and-summary > *:nth-child(2) > h1 {
    font-size: 2.4em;
    line-height: 1.2em;
    margin-bottom: inherit;
}

#-graphic-and-summary > *:nth-child(2) > p {
    font-family: var(--heading-font-family);
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.6em;
}

#-graphic-and-summary > *:nth-child(3) {
    max-width: 12em;
    color: var(--bg-color-3);
}

#-graphic-and-summary > *:nth-child(3) > p {
    margin-bottom: 2em;
}

#-graphic-and-summary > *:nth-child(3) > p:last-of-type {
    margin-bottom: 0;
}

#-features {
    display: flex;
    margin: 2em 0;
    color: var(--fg-color-2);
}

#-features > div {
    flex: 1 1 0;
    margin: 0 2em 0 0;
    padding: 1.2em 1.6em;
    border: 0.2em solid hsla(203, 30%, 88%, 1.0);
    background-color: var(--bg-color-1);
    text-align: left;
    font-weight: 300;
    border-radius: 0.6em;
}

#-features > div:last-child {
    margin: 0;
}

#-features > div > div {
    min-height: 13em;
    margin-bottom: 1em;
}

#-videos > div {
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;
    color: var(--fg-color-2);
}

#-videos > div > div {
    flex: 1 1 0;
    margin-right: 3em;
}

#-videos > div > div:last-child {
    margin-right: 0;
}

#-videos > div > div > iframe {
    width: 20em;
    height: 12em;
    border-radius: 0.6em;
}

a.nav {
    font-weight: 700;
    color: var(--bg-color-3);
}

a.nav > span.material-icons {
    margin-left: -0.2em;
}

#-wave-1 {
    display: block;
    margin: 0;
    width: 100%;
}

#-wave-1 {
    background-color: white;
}

#-wave-1 > path {
    fill: var(--bg-color-2);
}

#-popup-video-layer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#-popup-video-layer > div {
    margin: 2em;
    padding: 2em;
    background-color: var(--bg-color-1);
    border-radius: 0.8em;
}

#-popup-video-layer > div > iframe {
    border-radius: 0.6em;
    height: 540px;
    width: 960px;
}

@media screen and (max-width: 800px) {
    section:first-of-type > div {
        padding-top: 7em;
    }

    #-graphic-and-summary {
        display: block;
    }

    #-graphic-and-summary > * {
        max-width: inherit !important;
        margin: 0 0 1em 0 !important;
    }

    #-graphic-and-summary > *:nth-child(1) {
        display: none;
    }

    #-features {
        display: block;
        margin-top: 0;
    }

    #-features > div {
        margin: 1em 1em 2em 1em;
    }

    #-features > div:last-child {
        margin: 0 1em;
    }

    #-features > div > div {
        min-height: inherit;
        margin-bottom: 1em;
    }

    #-videos > div {
        display: block;
    }

    #-videos > div > div {
        margin-bottom: 1em;
    }

    #-popup-video-layer > div {
        margin: 1em;
        padding: 1em;
    }

    #-popup-video-layer > div > iframe {
        border-radius: 0.6em;
        height: 180px;
        width: 320px;
    }
}
