/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

:root {
  --bg-color-1: rgba(255, 255, 255, 1.0);
  --bg-color-2: rgba(230, 235, 240, 1.0);
  --bg-color-3: rgba(70, 130, 200, 1.0);
  --fg-color-1: rgba(0, 0, 0, 1.0);
  --fg-color-2: rgba(0, 0, 0, 1.0);
  --fg-color-3: rgba(255, 255, 255, 1.0);
  --accent-color-1: rgba(251, 111, 52, 1.0);
  --accent-color-2: rgba(63, 191, 127, 1.0);
  --accent-color-3: rgba(240, 231, 51, 1.0);
  --link-color: rgba(60, 90, 180, 1.0);
  --code-label-fg-color: rgba(0, 0, 0, 0.7);
  --code-label-bg-color: rgba(0, 0, 0, 0.06);
  --code-label-border-color: rgba(0, 0, 0, 0.2);
  --code-label-fg-color-session-1: rgba(127, 64, 0, 0.7);
  --code-label-bg-color-session-1: rgba(127, 64, 0, 0.06);
  --code-label-border-color-session-1: rgba(127, 64, 0, 0.3);
  --code-label-fg-color-session-2: rgba(0, 64, 127, 0.7);
  --code-label-bg-color-session-2: rgba(0, 64, 127, 0.06);
  --code-label-border-color-session-2: rgba(0, 64, 127, 0.3);
  --code-fg-color: rgba(0, 0, 0, 0.95);
  --code-bg-color: rgba(0, 0, 0, 0.03);
}

* {
    margin: 1em 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

html,
body,
div,
a,
br {
    margin: 0;
}

body {
    font: 14pt/19pt "Alegreya Sans", sans-serif;
    font-weight: 400;
    color: var(--fg-color-1);
    background-color: var(--bg-color-1);
}

code,
pre {
    color: var(--code-fg-color);
    font: 0.85em "Roboto Mono", monospace;
    font-weight: 400;
}

p code {
    background-color: var(--code-bg-color);
    padding: 0 0.1em;
    font-size: 0.8em;
}

pre {
    padding: 0.9em 1em 1em 1em;
    margin-top: 0;
    background-color: var(--code-bg-color);
    overflow: auto;
}

.code-label {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 500;
    padding: 0.2em 0.6em 0 0.6em;
    color: var(--code-label-fg-color);
    background-color: var(--code-label-bg-color);
    border-bottom: 0.1em solid var(--code-label-border-color);
}

.session-1 {
    color: var(--code-label-fg-color-session-1);
    background-color: var(--code-label-bg-color-session-1);
    border-bottom: 0.1em solid var(--code-label-border-color-session-1);
}

.session-2 {
    color: var(--code-label-fg-color-session-2);
    background-color: var(--code-label-bg-color-session-2);
    border-bottom: 0.1em solid var(--code-label-border-color-session-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Alegreya Sans";
    font-weight: 600;
    position: relative;
    margin-top: 1.2em;
    line-height: 1.2em;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}

hr {
    border-bottom: 1px solid #ddd;
}

blockquote {
    margin-left: 2em;
}

ul {
    padding: 0 0 0 1em;
}

ul:last-child {
    margin-bottom: 1em;
}

li {
    margin: 0;
}

.columns {
    display: flex;
}

.columns > div {
    flex: 1 1 0;
    margin-right: 1em;
}

.columns > div:last-child {
    margin-right: 0;
}

nav.links > a {
    display: inline-block;
    margin-right: 1em;
}

nav.links > a::before,
a.nav::before {
    content: "\2BC8  ";
}

nav.toc > a {
    display: block;
}

/* nav.toc > a::before { */
/*     content: "\2BC8  "; */
/* } */

/* --- */

header,
footer,
section {
    margin: 0;
}

header > div,
footer > div,
section > div {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 1em;
}

header {
    color: var(--fg-color-1);
    background-color: var(--bg-color-1);
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 0.2em solid var(--bg-color-2);
}

header > div {
    padding: 1em;
    display: flex;
    align-items: center;
}

/* Should be just html, but chrome currently requires body */
html,
body {
    scroll-padding-top: 5.5em;
}

section,
footer {
    color: var(--fg-color-1);
    background-color: var(--bg-color-1);
}

section:first-of-type {
    padding-top: 4em;
}

img.inline-icon {
    height: 1.2em;
    position: relative;
    top: 0.25em;
}

header a,
header a:visited,
footer a,
footer a:visited {
    color: inherit;
}

#-top-left-nav {
    margin: 0;
    flex: 4;
}

#-logotype {
    font-family: "Alegreya Sans";
    font-weight: 800;
}

#-top-left-nav > a {
    margin-right: 2em;
}

#-top-left-nav > a:last-child {
    margin-right: 0;
}

#-top-right-nav {
    margin: 0;
    width: 5em;
    flex: 1;
    text-align: right;
}

header.active {
    background-color: var(--bg-color-1);
}

.example-category {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.9em;
}

.column-list {
    column-count: 2;
}

@media screen and (max-width: 800px) {
    html,
    body {
        scroll-padding-top: 4.5em;
    }

    header > div,
    footer > div,
    section > div {
        padding: 1em;
    }

    header {
        font-size: 0.8em;
    }
}
